In [2]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
predict_students_dropout_and_academic_success = fetch_ucirepo(id=697) 
  
# data (as pandas dataframes) 
X = predict_students_dropout_and_academic_success.data.features 
y = predict_students_dropout_and_academic_success.data.targets 
  
# metadata 
print(predict_students_dropout_and_academic_success.metadata) 
  
# variable information 
print(predict_students_dropout_and_academic_success.variables)

{'uci_id': 697, 'name': "Predict students' dropout and academic success", 'repository_url': 'https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success', 'data_url': 'https://archive.ics.uci.edu/static/public/697/data.csv', 'abstract': "A dataset created from a higher education institution (acquired from several disjoint databases) related to students enrolled in different undergraduate degrees, such as agronomy, design, education, nursing, journalism, management, social service, and technologies.\nThe dataset includes information known at the time of student enrollment (academic path, demographics, and social-economic factors) and the students' academic performance at the end of the first and second semesters. \nThe data is used to build classification models to predict students' dropout and academic sucess. The problem is formulated as a three category classification task, in which there is a strong imbalance towards one of the classes.", 'area': 'Other', 'tasks': ['Classification'], 'characteristics': ['Tabular'], 'num_instances': 4424, 'num_features': 36, 'feature_types': [], 'demographics': ['Marital Status', 'Education Level', 'Nationality', 'Occupation', 'Gender', 'Age'], 'target_col': ['Target'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2021, 'last_updated': 'Mon Aug 28 2023', 'dataset_doi': '10.24432/C5MC89', 'creators': ['Valentim Realinho', 'Mónica Vieira Martins', 'Jorge Machado', 'Luís Baptista'], 'intro_paper': {'title': "Early prediction of student's performance in higher education: a case study", 'authors': 'Mónica V. Martins, Daniel Tolledo, Jorge Machado, Luís M. T. Baptista, and Valentim Realinho', 'published_in': 'Trends and Applications in Information Systems and Technologies', 'year': 2021, 'url': 'http://www.worldcist.org/2021/', 'doi': 'http://www.doi.org/10.1007/978-3-030-72657-7_16'}, 'additional_info': {'summary': None, 'purpose': 'The dataset was created in a project that aims to contribute to the reduction of academic dropout and failure in higher education, by using machine learning techniques to identify students at risk at an early stage of their academic path, so that strategies to support them can be put into place. \n\nThe dataset includes information known at the time of student enrollment – academic path, demographics, and social-economic factors. \n\nThe problem is formulated as a three category classification task (dropout, enrolled, and graduate) at the end of the normal duration of the course. \n', 'funded_by': 'This dataset is supported by program SATDAP - Capacitação da Administração Pública under grant POCI-05-5762-FSE-000191, Portugal.', 'instances_represent': 'Each instance is a student', 'recommended_data_splits': 'The dataset was used, in our project, with a data split of 80% for training and 20% for test.', 'sensitive_data': None, 'preprocessing_description': 'We performed a rigorous data preprocessing to handle data from anomalies, unexplainable outliers, and missing values.', 'variable_info': None, 'citation': 'If you use this dataset in experiments for a scientific publication, please kindly cite our paper: \nM.V.Martins, D. Tolledo, J. Machado, L. M.T. Baptista, V.Realinho. (2021) "Early prediction of student’s performance in higher education: a case study" Trends and Applications in Information Systems and Technologies, vol.1, in Advances in Intelligent Systems and Computing series. Springer. DOI: 10.1007/978-3-030-72657-7_16'}}
                                              name     role         type  \
0                                   Marital Status  Feature      Integer
1                                 Application mode  Feature      Integer
2                                Application order  Feature      Integer
3                                           Course  Feature      Integer
4                       Daytime/evening attendance  Feature      Integer
5                           Previous qualification  Feature      Integer
6                   Previous qualification (grade)  Feature   Continuous
7                                      Nacionality  Feature      Integer
8                           Mother's qualification  Feature      Integer
9                           Father's qualification  Feature      Integer
10                             Mother's occupation  Feature      Integer
11                             Father's occupation  Feature      Integer
12                                 Admission grade  Feature   Continuous
13                                       Displaced  Feature      Integer
14                       Educational special needs  Feature      Integer
15                                          Debtor  Feature      Integer
16                         Tuition fees up to date  Feature      Integer
17                                          Gender  Feature      Integer
18                              Scholarship holder  Feature      Integer
19                               Age at enrollment  Feature      Integer
20                                   International  Feature      Integer
21             Curricular units 1st sem (credited)  Feature      Integer
22             Curricular units 1st sem (enrolled)  Feature      Integer
23          Curricular units 1st sem (evaluations)  Feature      Integer
24             Curricular units 1st sem (approved)  Feature      Integer
25                Curricular units 1st sem (grade)  Feature      Integer
26  Curricular units 1st sem (without evaluations)  Feature      Integer
27             Curricular units 2nd sem (credited)  Feature      Integer
28             Curricular units 2nd sem (enrolled)  Feature      Integer
29          Curricular units 2nd sem (evaluations)  Feature      Integer
30             Curricular units 2nd sem (approved)  Feature      Integer
31                Curricular units 2nd sem (grade)  Feature      Integer
32  Curricular units 2nd sem (without evaluations)  Feature      Integer
33                               Unemployment rate  Feature   Continuous
34                                  Inflation rate  Feature   Continuous
35                                             GDP  Feature   Continuous
36                                          Target   Target  Categorical

        demographic                                        description units  \
0    Marital Status  1 – single 2 – married 3 – widower 4 – divorce...  None
1              None  1 - 1st phase - general contingent 2 - Ordinan...  None
2              None  Application order (between 0 - first choice; a...  None
3              None  33 - Biofuel Production Technologies 171 - Ani...  None
4              None                            1 – daytime 0 - evening  None
5   Education Level  1 - Secondary education 2 - Higher education -...  None
6              None  Grade of previous qualification (between 0 and...  None
7       Nationality  1 - Portuguese; 2 - German; 6 - Spanish; 11 - ...  None
8   Education Level  1 - Secondary Education - 12th Year of Schooli...  None
9   Education Level  1 - Secondary Education - 12th Year of Schooli...  None
10       Occupation  0 - Student 1 - Representatives of the Legisla...  None
11       Occupation  0 - Student 1 - Representatives of the Legisla...  None
12             None                Admission grade (between 0 and 200)  None
13             None                                     1 – yes 0 – no  None
14             None                                     1 – yes 0 – no  None
15             None                                     1 – yes 0 – no  None
16             None                                     1 – yes 0 – no  None
17           Gender                                1 – male 0 – female  None
18             None                                     1 – yes 0 – no  None
19              Age                       Age of studend at enrollment  None
20             None                                     1 – yes 0 – no  None
21             None  Number of curricular units credited in the 1st...  None
22             None  Number of curricular units enrolled in the 1st...  None
23             None  Number of evaluations to curricular units in t...  None
24             None  Number of curricular units approved in the 1st...  None
25             None  Grade average in the 1st semester (between 0 a...  None
26             None  Number of curricular units without evalutions ...  None
27             None  Number of curricular units credited in the 2nd...  None
28             None  Number of curricular units enrolled in the 2nd...  None
29             None  Number of evaluations to curricular units in t...  None
30             None  Number of curricular units approved in the 2nd...  None
31             None  Grade average in the 2nd semester (between 0 a...  None
32             None  Number of curricular units without evalutions ...  None
33             None                              Unemployment rate (%)  None
34             None                                 Inflation rate (%)  None
35             None                                                GDP  None
36             None  Target. The problem is formulated as a three c...  None

   missing_values
0              no
1              no
2              no
3              no
4              no
5              no
6              no
7              no
8              no
9              no
10             no
11             no
12             no
13             no
14             no
15             no
16             no
17             no
18             no
19             no
20             no
21             no
22             no
23             no
24             no
25             no
26             no
27             no
28             no
29             no
30             no
31             no
32             no
33             no
34             no
35             no
36             no

In [3]:
type(X)

pandas.core.frame.DataFrame

In [4]:
X.head()

,Marital Status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0,0.000000,0,10.8,1.4,1.74
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,0,6,0,0,0.000000,0,10.8,1.4,1.74
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79

In [14]:
#create a enumerate object with all the names of the columns
enum = enumerate(X.columns)
#iterate over the enumerate object
for col in enum:
    couts = X[col[1]].value_counts()
    print(couts)
    print("--------------------")

1    3919
2     379
4      91
5      25
6       6
3       4
Name: Marital Status, dtype: int64
--------------------
1     1708
17     872
39     785
43     312
44     213
7      139
18     124
42      77
51      59
16      38
53      35
15      30
5       16
10      10
2        3
57       1
26       1
27       1
Name: Application mode, dtype: int64
--------------------
1    3026
2     547
3     309
4     249
5     154
6     137
9       1
0       1
Name: Application order, dtype: int64
--------------------
9500    766
9147    380
9238    355
9085    337
9773    331
9670    268
9991    268
9254    252
9070    226
171     215
8014    215
9003    210
9853    192
9119    170
9130    141
9556     86
33       12
Name: Course, dtype: int64
--------------------
1    3941
0     483
Name: Daytime/evening attendance, dtype: int64
--------------------
1     3717
39     219
19     162
3      126
12      45
40      40
42      36
2       23
6       16
9       11
4        8
38       7
43       6
10       4
15       2
5        1
14       1
Name: Previous qualification, dtype: int64
--------------------
133.1    491
130.0    375
140.0    336
120.0    278
150.0    162
        ...
133.8      1
175.0      1
117.4      1
188.0      1
126.6      1
Name: Previous qualification (grade), Length: 101, dtype: int64
--------------------
1      4314
41       38
26       14
22       13
6        13
24        5
100       3
11        3
103       3
21        2
101       2
62        2
25        2
2         2
105       2
32        1
13        1
109       1
108       1
14        1
17        1
Name: Nacionality, dtype: int64
--------------------
1     1069
37    1009
19     953
38     562
3      438
34     130
2       83
4       49
12      42
5       21
40       9
9        8
39       8
41       6
6        4
42       4
43       4
29       3
10       3
11       3
36       3
35       3
30       3
14       2
18       1
22       1
27       1
26       1
44       1
Name: Mother's qualification, dtype: int64
--------------------
37    1209
19     968
1      904
38     702
3      282
34     112
2       68
4       39
12      38
39      20
5       18
11      10
36       8
9        5
40       5
22       4
30       4
14       4
29       3
35       2
41       2
43       2
10       2
6        2
26       2
25       1
27       1
33       1
44       1
20       1
42       1
18       1
13       1
31       1
Name: Father's qualification, dtype: int64
--------------------
9      1577
4       817
5       530
3       351
2       318
7       272
0       144
1       102
6        91
90       70
8        36
191      26
99       17
194      11
141       8
123       7
144       6
175       5
192       5
193       4
134       4
10        4
143       3
151       3
132       3
152       2
122       2
153       2
173       1
125       1
131       1
171       1
Name: Mother's occupation, dtype: int64
--------------------
9      1010
7       666
5       516
4       386
3       384
8       318
10      266
6       242
2       197
1       134
0       128
90       65
99       19
193      15
144       8
171       8
192       6
163       5
103       4
175       4
135       3
183       3
152       3
123       3
181       3
194       2
182       2
112       2
151       2
172       2
122       2
102       2
153       1
101       1
114       1
174       1
141       1
132       1
134       1
143       1
131       1
161       1
195       1
121       1
124       1
154       1
Name: Father's occupation, dtype: int64
--------------------
130.0    162
140.0    153
120.0    145
100.0    116
150.0     81
        ...
150.6      1
184.4      1
102.6      1
147.3      1
156.2      1
Name: Admission grade, Length: 620, dtype: int64
--------------------
1    2426
0    1998
Name: Displaced, dtype: int64
--------------------
0    4373
1      51
Name: Educational special needs, dtype: int64
--------------------
0    3921
1     503
Name: Debtor, dtype: int64
--------------------
1    3896
0     528
Name: Tuition fees up to date, dtype: int64
--------------------
0    2868
1    1556
Name: Gender, dtype: int64
--------------------
0    3325
1    1099
Name: Scholarship holder, dtype: int64
--------------------
18    1036
19     911
20     599
21     322
22     174
24     131
23     108
26      94
25      93
27      91
28      83
29      66
32      61
34      60
31      55
35      49
30      49
33      45
37      42
39      38
36      35
41      31
38      29
43      25
40      23
45      22
44      21
47      18
50      16
42      13
49      13
46      12
48      11
51       7
54       7
53       7
17       5
55       5
52       4
59       3
58       3
57       2
60       2
61       1
70       1
62       1
Name: Age at enrollment, dtype: int64
--------------------
0    4314
1     110
Name: International, dtype: int64
--------------------
0     3847
2       94
1       85
3       69
6       51
4       47
7       41
5       41
8       31
9       27
11      17
10      15
14      15
13      13
12      12
15       5
18       4
17       3
16       3
19       2
20       2
Name: Curricular units 1st sem (credited), dtype: int64
--------------------
6     1910
5     1010
7      656
8      296
0      180
12      66
10      52
11      45
9       36
15      25
14      22
4       21
13      20
18      19
17      16
16      13
3       10
2        9
1        7
21       6
19       2
23       2
26       1
Name: Curricular units 1st sem (enrolled), dtype: int64
--------------------
8     791
7     703
6     598
9     402
0     349
10    340
11    239
12    223
5     220
13    140
14    105
15     70
16     47
17     33
18     30
19     23
4      19
21     17
20     12
22     10
23      9
2       8
3       6
24      6
1       6
26      4
25      3
27      2
29      2
45      2
32      1
36      1
31      1
28      1
33      1
Name: Curricular units 1st sem (evaluations), dtype: int64
--------------------
6     1171
5      723
0      718
7      471
4      433
3      269
2      160
1      127
8      108
11      49
12      44
9       40
13      26
10      24
18      15
14      14
17      10
15       7
16       5
21       4
20       3
19       2
26       1
Name: Curricular units 1st sem (approved), dtype: int64
--------------------
0.000000     718
12.000000    205
13.000000    147
11.000000    138
11.500000     89
            ...
13.040000      1
15.657143      1
13.331429      1
15.028571      1
14.912500      1
Name: Curricular units 1st sem (grade), Length: 797, dtype: int64
--------------------
0     4130
1      153
2       79
3       23
4       15
6        6
7        6
5        5
8        4
12       2
10       1
Name: Curricular units 1st sem (without evaluations), dtype: int64
--------------------
0     3894
1      107
2       92
4       78
5       68
3       49
6       26
11      20
7       16
9       15
12      14
10      13
8       12
13       9
14       4
15       2
16       2
18       2
19       1
Name: Curricular units 2nd sem (credited), dtype: int64
--------------------
6     1913
5     1054
8      661
7      304
0      180
11      60
9       50
10      48
12      44
13      37
14      22
4       17
17      12
2        5
19       3
3        3
1        3
15       2
23       2
18       2
16       1
21       1
Name: Curricular units 2nd sem (enrolled), dtype: int64
--------------------
8     792
6     614
7     563
9     456
0     401
10    355
5     288
11    255
12    226
13    126
14     98
15     73
16     49
17     25
18     22
19     19
4      10
21     10
22     10
20      8
2       4
23      4
26      3
24      3
1       3
3       2
27      2
28      1
25      1
33      1
Name: Curricular units 2nd sem (evaluations), dtype: int64
--------------------
6     965
0     870
5     726
4     414
7     331
8     321
3     285
2     198
1     114
11     48
10     38
9      36
12     34
13     21
17      8
14      6
19      3
20      2
16      2
18      2
Name: Curricular units 2nd sem (approved), dtype: int64
--------------------
0.000000     870
12.000000    170
11.000000    165
13.000000    150
11.500000     86
            ...
13.994444      1
11.685714      1
15.657143      1
13.331429      1
11.083333      1
Name: Curricular units 2nd sem (grade), Length: 782, dtype: int64
--------------------
0     4142
1      140
2       48
3       35
4       21
5       17
6        8
8        6
7        5
12       2
Name: Curricular units 2nd sem (without evaluations), dtype: int64
--------------------
7.6     571
9.4     533
10.8    525
12.4    445
12.7    419
11.1    414
15.5    397
13.9    390
8.9     368
16.2    362
Name: Unemployment rate, dtype: int64
--------------------
 1.4    893
 2.6    571
-0.8    533
 0.5    445
 3.7    419
 0.6    414
 2.8    397
-0.3    390
 0.3    362
Name: Inflation rate, dtype: int64
--------------------
 0.32    571
-3.12    533
 1.74    525
 1.79    445
-1.70    419
 2.02    414
-4.06    397
 0.79    390
 3.51    368
-0.92    362
Name: GDP, dtype: int64
--------------------

In [ ]:
#create a mask for the categorical columns
mask = X.dtypes == object